<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<body><!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>System Information</title>
        
    </head>
    <body>
        <h1>System Information</h1>
        <p><b>Name:</b> {{ name }}</p>
        <p><b>Username:</b> {{ username }}</p>
        <p><b>Server Time:</b> {{ time }}</p>
        <h2>Top Processes</h2>
        <pre>{{ top_output }}</pre>
    </body>
    </html>
